// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

$breakpoints: (
    'sm': $breakpoint-sm,
    'md': $breakpoint-md,
    'lg': $breakpoint-lg,
    'xl': $breakpoint-xl,
    '2xl': $breakpoint-2xl,
);

// Media queries
@mixin mq($breakpoint: null) {
    $breakpoint-value: map-get(
        $map: $breakpoints,
        $key: $breakpoint,
    );

    @if $breakpoint-value == null {
        @error 'Please specify a valid breakpoint. Valid breakpoints: #{map-keys($breakpoints)}';
    }

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}
